[submodule "themes/github-markdown-css"]
	path = themes/github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css
[submodule "themes/markdown-css-themes"]
	path = themes/markdown-css-themes
	url = https://github.com/jasonm23/markdown-css-themes
[submodule "themes/markdown-styles"]
	path = themes/markdown-styles
	url = https://github.com/mixu/markdown-styles
